body{
    background: url(http://jonvilma.com/images/the-walk-joseph-gordon-levitt.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
      
}

.contenedor{
    width: 400px;
    margin: 20vmin auto;
}

.formatoCaja{
    background-color: rgba(250, 249, 249, 0.3); 
    padding: 50px;
}

.form-control{
    margin: 30px auto;
}

.form-signin-heading{
    color: rgb(35, 85, 150);
}